* /*CSS reset*/
{
margin: 0;
padding:0;
}

/* display HTML5 elements correctky on IE*/
header, section, nav
{
display:block;
}

body
{
background:url('../img/small_steps.png'); /*background repeating image*/
font-family: 'Museo-Italic';
}

/*Importing fonts*/
@font-face {
font-family: WolfInTheCity;
  src: url(../fonts/WolfInTheCity.otf);
  src: url('../fonts/wolfinthecity-webfont.eot');
  src: url('../fonts/wolfinthecity-webfont.eot?#iefix') format('embedded-opentype'),
       url('../fonts/wolfinthecity-webfont.woff2') format('woff2'),
       url('../fonts/wolfinthecity-webfont.woff') format('woff'), 
       url('../fonts/wolfinthecity-webfontt.ttf')  format('truetype'),
       url('../fonts/wolfinthecity-webfont.svg#svgFontName') format('svg');
}


@font-face {
    font-family: Museo-Italic;
    src: url(../fonts/Museo_Slab_500italic.otf);
}

/*Highlighted text color*/
::selection 
{
background-color:#CC0000;
}

/* ~~~~ NavBar Styling ~~~~ */
#NavBar
{
width:100%;
height: 65px;
background-color:#2c3451;
position:fixed;
z-index: 500;
backface-visibility: hidden;
top:0;
-webkit-box-shadow: 0px 0px 15px 1px rgba(66,66,66,0.66);
-moz-box-shadow: 0px 0px 15px 1px rgba(66,66,66,0.66);
box-shadow: 0px 0px 15px 1px rgba(66,66,66,0.66);
}

nav
{
width:1124px;
margin: 0 auto;
height:100%;
z-index: 2;
}

nav ul
{
list-style: none;
float:right;
display:block;
}

nav li
{
float:left;
font-family: 'Museo-Italic';
line-height: 25px;
}

nav li a
{
text-decoration: none;
height:100%;
color:white;
padding: 26px 15px 14px 15px;
display:block;
margin-right:10px;
top:-5px;
-webkit-transition-property: all;
-webkit-transition-duration: 0.15s;
-webkit-transition-timing-function: ease-out; 
-moz-transition: all .5s ease-out;
-moz-transition-duration: 0.15s;
-moz-transition-timing-function: ease-in-out;
}

/*NavBar hover styling*/
nav li a:hover
{
background-color:#192037;
padding: 17px 15px 23px 15px;
-webkit-transition-property: all;
-webkit-transition-duration: 0.15s;
-webkit-transition-timing-function: ease-out; 
-moz-transition: all .5s ease-out;
-moz-transition-duration: 0.15s;
-moz-transition-timing-function: ease-in-out;
}

/*logo styling*/
#logo
{
font-family: 'WolfInTheCity';
font-size: 50px;
text-shadow: 1px 1px 2px rgba(0, 0, 0, 1);
line-height: 68px;
margin-left:10px;
}

#logo a
{
padding: 7px 12px 13px 12px;
opacity:1;
text-decoration: none;
color: white;
-webkit-transition-property: all;
-webkit-transition-duration: 0.15s;
-webkit-transition-timing-function: ease-in-out; 
-moz-transition: all .5s ease-out;
-moz-transition-duration: 0.15s;
-moz-transition-timing-function: ease-in-out;
}

#logo a:hover
{
font-family: 'WolfInTheCity';
font-size: 50px;
text-shadow: 1px 1px 2px rgba(0, 0, 0, 1);
line-height: 40px;
margin-top:-6px;
background-color:transparent;
text-shadow: 3px 3px 8px rgba(0, 0, 0, 1);
color:white;
-webkit-transition-property: all;
-webkit-transition-duration: 0.05s;
-webkit-transition-timing-function: ease-in-out;
-moz-transition: all .5s ease-out;
-moz-transition-duration: 0.05s;
-moz-transition-timing-function: ease-in-out;
}

#order a
{
margin-right:0px;
background:orange;
background: #ffa84c; /* Old browsers */
background: -moz-linear-gradient(top,  #ffa84c 0%, #ff7b0d 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ffa84c), color-stop(100%,#ff7b0d)); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top,  #ffa84c 0%,#ff7b0d 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top,  #ffa84c 0%,#ff7b0d 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top,  #ffa84c 0%,#ff7b0d 100%); /* IE10+ */
background: linear-gradient(to bottom,  #ffa84c 0%,#ff7b0d 100%); /* W3C */
background-color: #DA2C2C;
}
/* ~~~~ End of NavBar styling ~~~~ */

header
{
width:100%;
height: 420px;
background:url('../img/offers-header.jpg') 50% 20% no-repeat;
background-color:black;
padding-top:100px;
border-bottom: #bcbcbc solid 10px;
}

#menu-icon 
{
width: 65px;
height: 65px;
background: url('../img/menu.png') 50% 50%;
}

a:hover#menu-icon 
{
background-color: #192037;
}

h1
{
font-family: 'WolfInTheCity', sans-serif;
font-size: 190px;
font-style: normal;
font-weight:normal;
color:white;
margin: 0 auto;
text-align: center;
display:block;
text-shadow: 2px 2px 2px rgba(74, 74, 74, 0.75);
}

h2
{
cursor: pointer;
font-family: 'Museo-Italic', sans-serif;
font-size: 50px;
font-style: normal;
font-weight:normal;
color:white;
margin: 0 auto;
padding:20px 0px;
text-align: center;
display:block;
text-shadow: 1px 1px 2px rgba(74, 74, 74, 0.75);
-webkit-transition-property: all;
-webkit-transition-duration: 0.05s;
-webkit-transition-timing-function: ease-in-out;
-moz-transition: all .5s ease-out;
-moz-transition-duration: 0.05s;
-moz-transition-timing-function: ease-in-out;
}

.offer:hover
{
background-color:#192037;
}
/*Contain content in wrap*/
#wrap
{
width: 1024px;
height: 800px;
margin: 0 auto;
padding: 15px;
margin-top:-200px;
}

#wrap p
{
font-family: 'Museo-Italic';
font-size: 25px;
color:#272727;
display:block;
margin: 40px;
line-height: 30px;
}

/*Content Container styling*/
#contentBox
{
background: #ededed;
background: url('../img/shadowh1.png') 50% 35% no-repeat,
			url('../img/Lincoln.png') 50% 100% no-repeat,
		    url('../img/BG.png');
float: left;
height:850px;
width: 1000px;
display:inline-block;
margin:0 auto;
position:absolute;
-webkit-box-shadow: 0px 0px 13px 0px rgba(50, 50, 50, 0.17);
-moz-box-shadow:    0px 0px 13px 0px rgba(50, 50, 50, 0.17);
box-shadow:         0px 0px 13px 0px rgba(50, 50, 50, 0.17);
border-radius: 6px; 
z-index:1;
text-align: center;
}

.offer
{
width:100%;
height:100px;
border-top:solid 1px #121728;
cursor: pointer;
background: rgb(63,67,104); /* Old browsers */
background: -moz-linear-gradient(top,  rgba(63,67,104,1) 0%, rgba(25,32,55,1) 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(63,67,104,1)), color-stop(100%,rgba(25,32,55,1))); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top,  rgba(63,67,104,1) 0%,rgba(25,32,55,1) 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top,  rgba(63,67,104,1) 0%,rgba(25,32,55,1) 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top,  rgba(63,67,104,1) 0%,rgba(25,32,55,1) 100%); /* IE10+ */
background: linear-gradient(to bottom,  rgba(63,67,104,1) 0%,rgba(25,32,55,1) 100%); /* W3C */
}

.offer:hover
{
background: rgb(172,214,74); /* Old browsers */
background: -moz-linear-gradient(top,  rgba(172,214,74,1) 1%, rgba(139,186,68,1) 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(1%,rgba(172,214,74,1)), color-stop(100%,rgba(139,186,68,1))); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top,  rgba(172,214,74,1) 1%,rgba(139,186,68,1) 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top,  rgba(172,214,74,1) 1%,rgba(139,186,68,1) 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top,  rgba(172,214,74,1) 1%,rgba(139,186,68,1) 100%); /* IE10+ */
background: linear-gradient(to bottom,  rgba(172,214,74,1) 1%,rgba(139,186,68,1) 100%); /* W3C */
}

.offer p
{
float:left;
text-decoration: none;
margin:0;
right:0;
bottom:0;
}

.content
{
padding:20px;
background:#353944;
color:white;
}


/*Footer styling*/
footer 
{
width:100%;
height:240px;
border-top: solid 1px #323232;
/*css3 gradient*/
background: #2f2f2f;
background: #474b4f; /* Old browsers */
background: -moz-linear-gradient(top,  #474b4f 0%, #2f2f2f 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#474b4f), color-stop(100%,#2f2f2f)); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top,  #474b4f 0%,#2f2f2f 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top,  #474b4f 0%,#2f2f2f 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top,  #474b4f 0%,#2f2f2f 100%); /* IE10+ */
background: linear-gradient(to bottom,  #474b4f 0%,#2f2f2f 100%); /* W3C */
}

/*Footer Wrap*/
#footerWrap
{
width: 1080px;
height:150px;
margin: 0 auto;
padding-top:90px;
}

#twitter, #facebook, #instagram
{
width:25px;
height:25px;
margin: 5px;
background:red;
display: inline-block;
position: relative;
float:right; 
}


#twitter
{
background:url('../img/twitter.png') 50% 50% no-repeat;
}

#twitter:hover
{
-webkit-box-shadow: 0px 0px 15px 1px rgba(66,66,66,0.66);
-moz-box-shadow: 0px 0px 15px 1px rgba(66,66,66,0.66);
box-shadow: 0px 0px 15px 1px rgba(66,66,66,0.66);
}

#facebook
{
background:url('../img/facebook.png') 50% 50% no-repeat;
}

#facebook:hover
{
-webkit-box-shadow: 0px 0px 15px 1px rgba(66,66,66,0.66);
-moz-box-shadow: 0px 0px 15px 1px rgba(66,66,66,0.66);
box-shadow: 0px 0px 15px 1px rgba(66,66,66,0.66);
}

#instagram
{
background:url('../img/instagram.png') 50% 50% no-repeat;
}

#instagram:hover
{
-webkit-box-shadow: 0px 0px 15px 1px rgba(66,66,66,0.66);
-moz-box-shadow: 0px 0px 15px 1px rgba(66,66,66,0.66);
box-shadow: 0px 0px 15px 1px rgba(66,66,66,0.66);
}




/*MEDIA QUERY*/
/*---TABLETS---*/
@media screen and (max-width: 1130px) {
    
    body
    {
    overflow-y: scroll;
    overflow-x:hidden; /*Removes horizontal scroll-bar*/
    }

	#NavBar
	{
	width:100%;
	}

	header
	{
	height: 300px;
	padding-top:100px;
	}

	nav
	{
	width:auto;
	}

	#logo
	{
	margin-right:20px;
	float:left;
	}

	nav ul
	{
	float:right;
	}

	h1
	{
	font-size: 140px;	
	}

	h2
	{
	font-size: 30px;
	padding:35px 0px;
	}	

	#wrap
	{
	width: 94%;
	height:660px;
	margin-top:-120px;
	display:inline-block;
	}

	#wrap p
	{
	width:auto;	
	}

	#contentBox
	{
	margin:0;
	height: 660px;
	width: 95%;
	background: url('../img/Lincoln.png') 50% 100% no-repeat,
		    	url('../img/BG.png');
	}

	#offer
	{
	right:0px;
	margin-top:-160px;
	overflow:hidden;
	}

	footer
	{
	bottom:0;
	display:inline-block;
	}

	#footerWrap
	{
	width:20%;
	}

}

/*---END TABLET MEDIA QUERY---*/





/*MEDIA QUERY*/
/*---Phones & other smaller screens---*/
@media screen and (max-width: 830px) {

	body
	{

	}

	#menu-icon 
	{
	display:inline-block;
	float:right;
	}

	nav
	{
	width:auto;
	}

	nav ul, nav:active ul 
	{
	display: none;
	position: absolute;
	background: #2c3451;
	top: 65px;
	width: 100%;
	}

	nav li
	{
	text-align: center;
	width: 100%;
	margin: 0;
	background:#232b46;
	}

	#wrap
	{
	height:800px;
	}

	#contentBox
	{
	height:800px;
	}

	nav:hover ul 
	{
	display: block;
	background:#2c3451;
	}

	header
	{
	height: 150px;
	padding-top:70px;
	border-bottom: none;
	}

	nav ul
	{
	float:right;
	}

	h1
	{
	font-size: 100px;
	}

	h2
	{
	font-size: 20px;
	padding:35px 0px;
	}	

	aside
	{
	display:none;
	}

	#wrap p
	{
	font-size: 20px;
	margin: 2%;
	margin-top:30px;
	width:96%;
	height: auto;
	}

	.logo
	{
	margin-right:10px;
	float:left;
	}

	#wrap
	{
	margin:0;
	padding:0;
	width:100%;
	}

	#contentBox
	{
	width:100%;
	border-radius: 0px; 
	z-index:1;
	padding:0;
	margin:0;
	}

	#FooterWrap
	{
	width:auto;
	height:auto;
	}

}
/*---END PHONE MEDIA QUERY---*/